<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Start-Time</th>
      <th scope="col">End-Time</th>
      <th scope="col">Purpose</th>
      <th scope="col">Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |app|%>
      <% if app.user.email == @admin.email %>
      <tr class='table-success'>
      <% else %>
      <tr class='table-danger'>
      <% end %>
        <th scope="row"><%= app.start.strftime("%Y-%m-%d") %></th>
        <td><%= app.start.to_formatted_s(:time) %></td>
        <td><%= app.end.to_formatted_s(:time) %></td>
        <td>
          <% if app.app_type == 0%>
            Cleaning
          <% elsif app.app_type == 1%>
            Extraction
          <% elsif app.app_type == 2%>
            Root Canal
          <% elsif app.app_type == 3%>
            Orthodontion
          <% end %>
        </td>
        <td>
          <% if app.user.email == @admin.email %>
            <%= link_to 'Book Slot', new_appointment_path(start: app.start), class:'btn btn-primary'%>
          <% else %>
           <h5> <span class="badge bg-danger">Booked</span></h5>
          <% end %>
        </td>
        <td>
           <% if current_user.email == app.user.email %>
            <% if app.start > @time_limit %>
              <%= link_to 'Cancel Booking', cancel_appointment_path(id: app.id), data:{turbo_method: :post, turbo_confrim: 'Cancel Appointment'}, class:'btn btn-outline-secondary'%>
            <% else %>
              <h5> <span class="badge bg-secondary">Too Soon to Cancel!</span></h5>
            <% end %>
          <% else %>
            <h5> <span class="badge bg-warning">Other Patient</span></h5>
           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
