<h1>Appointment Schedule</h1>
<p>(green slots are available)</p>
<div class='mt-3 mb-3 d-flex justify-content-center'>
  <div style='width:1050px'>
  <% if current_user %>

  <% @arrayOfDays.each do |day| %>
  <div class='collapsible col-md-12' id="collapsible">
    <input type='checkbox' id="collapsible2-head-<%= day.first.start.to_date%>">
    <label for="collapsible2-head-<%= day.first.start.to_date%>"><%= day.first.start.strftime("%B - %d, %A")%></label>
    <div class="collapsible-text">
      <div>
        <%= render 'table', appointments: day%>
      </div>
    </div>
  </div>
  <%end%>

  <% else %>
    <%= link_to 'Register', new_user_registration_path, class:'btn btn-primary' %>
    <%= link_to 'Login', new_user_session_path, class:'btn btn-primary' %>
  <% end %>
  </div>
</div>


